.tag-container {
    display: flex;
    gap: 4px;
}

.tag {
    cursor: pointer;
    width: fit-content;
    padding: 4px;
    margin-top: 6px;
    border-radius: 8px;
    background-color: #333;
}

.tag:hover {
    text-decoration-line: line-through;
    text-decoration-color: #000a;
    background-color: #0000;
}